<td>
    <% if certification.persisted? %>
        <div class="btn btn-sm btn-block btn-light mb-3 cursor-move js-move-handle">Drag me to reorder</div>
    <% end %>

    <%= form_for [certification.cv_template, certification], remote: true, html: { class: 'w-100 mb-5' } do |f| %>
        <%= f.hidden_field :cv_template_id, value: certification.cv_template_id %>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <%= f.text_field :title, autofocus: true, required: true, placeholder: 'example: Cisco Certification', class: 'form-control' %>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-10">
                <%= f.text_field :company, required: true, placeholder: 'example: Orakura Ltd', class: 'form-control' %>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
                <%= f.text_field :location, required: true, placeholder: 'example: Yaoundé, Cameroon', class: 'form-control' %>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Certification Date</label>
            <div class="col-sm-10">
                <%= f.text_field :certification_date, required: true, placeholder: 'example: 01.09.2010, or September 2010', class: 'form-control' %>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Summary</label>
            <div class="col-sm-10">
                <%= f.hidden_field :summary, id: "experience_summary_#{certification.id}" %>
                <trix-editor input="experience_summary_<%= certification.id %>"></trix-editor>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-sm-10">
                <%= f.submit 'Save', class: 'btn btn-sm btn-outline-secondary' %>
                <% if certification.persisted? %>
                    <%= link_to 'Delete', cv_template_certification_path(certification.cv_template, certification), remote: true, method: :delete, data: { confirm: 'Are you sure about deleting this?' }, class: 'btn btn-sm btn-outline-danger' %>
                <% end %>
            </div>
        </div>
    <% end %>
</td>
