<div class="template-default">
    <div class="col-right">
        <div class="personal-details">
            <div class="entry">
                <h2><%= cv_template.fullname %></h2>
                <h2 class="subtitle"><%= cv_template.profession %></h2>
                <p style="font-family: Palatino, Georgia, Times;"><%= cv_template.summary %></p>
            </div>
        </div>

        <div class="timeline">
            <% if cv_template.experiences.any? %>
                <div class="entry">
                    <div class="time section-block"></div>
                    <div class="section">
                        <h3>Professional Experience</h3>
                    </div>
                </div>
                <% cv_template.experiences.each do |experience| %>
                    <div class="entry">
                        <div class="time">
                            <span><%= experience.start_date %> - <%= experience.end_date %></span>
                        </div>
                        <div class="body">
                            <p class="title"><%= experience.position %></p>
                            <p class="subtitle" style="font-family: Palatino, Georgia, Times;"><%= experience.company %>, <%= experience.location %></p>
                            <div class="summary" style="font-family: Palatino, Georgia, Times;">
                                <%= raw experience.summary %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <% if cv_template.educations.any? %>
                <div class="entry">
                    <div class="time section-block"></div>
                    <div class="section">
                        <h3>Education</h3>
                    </div>
                </div>
                <% cv_template.educations.each do |education| %>
                    <div class="entry">
                        <div class="time">
                            <span><%= education.start_date %> - <%= education.end_date %></span>
                        </div>
                        <div class="body">
                            <p class="title"><%= education.courses %></p>
                            <p class="subtitle" style="font-family: Palatino, Georgia, Times;"><%= education.academy %>, <%= education.location %></p>
                            <div class="summary" style="font-family: Palatino, Georgia, Times;">
                                <%= raw education.summary %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <% if cv_template.certifications.any? %>
                <div class="entry">
                    <div class="time section-block"></div>
                    <div class="section">
                        <h3>Certifications</h3>
                    </div>
                </div>
                <% cv_template.certifications.each do |certification| %>
                    <div class="entry">
                        <div class="time">
                            <span><%= certification.certification_date %></span>
                        </div>
                        <div class="body">
                            <p class="title"><%= certification.title %></p>
                            <p class="subtitle" style="font-family: Palatino, Georgia, Times;"><%= certification.company %>, <%= certification.location %></p>
                            <div class="summary" style="font-family: Palatino, Georgia, Times;">
                                <%= raw certification.summary %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <% if cv_template.recommendations.any? %>
                <div class="entry">
                    <div class="time section-block"></div>
                    <div class="section">
                        <h3>Recommendations</h3>
                    </div>
                </div>
                <% cv_template.recommendations.each do |recommendation| %>
                    <div class="entry">
                        <div class="time blank"></div>
                        <div class="body">
                            <p class="title"><%= recommendation.name %></p>
                            <p class="subtitle" style="font-family: Palatino, Georgia, Times;">
                                <%= recommendation.profession_and_company %>
                            </p>
                            <div class="summary" style="font-family: Palatino, Georgia, Times;">
                                <%= recommendation.phone_and_email.presence %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>

            <% if cv_template.interests.any? %>
                <div class="entry">
                    <div class="time section-block"></div>
                    <div class="section">
                        <h3>Interests</h3>
                    </div>
                </div>
                <% cv_template.interests.each do |interests| %>
                    <div class="entry">
                        <div class="time blank"></div>
                        <div class="body">
                            <p class="title"><%= interests.name %></p>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="col-left">
        <% if cv_template.image %>
            <div class="profile-image">
                <div class="image">
                    <%= image_tag(cv_template.image.image.medium.url) %>
                </div>
            </div>
        <% end %>
        <div class="entry">
            <h3>Personal Info</h3>
            <dl>
                <% if cv_template.address.present? %>
                    <dt>ADDRESS</dt><dd><%= simple_format(cv_template.address) %></dd>
                <% end %>
                <% if cv_template.phone.present? %>
                    <dt>PHONE</dt><dd><%= cv_template.phone %></dd>
                <% end %>
                <% if cv_template.email.present? %>
                    <dt>EMAIL</dt><dd><%= cv_template.email %></dd>
                <% end %>
                <% if cv_template.website.present? %>
                    <dt>WEBSITE</dt><dd><%= cv_template.website %></dd>
                <% end %>
                <% if cv_template.social_networks.any? %>
                    <% cv_template.social_networks.each do |social_network| %>
                        <dt><%= social_network.title.upcase %></dt>
                        <dd>
                            <%= social_network.username.presence || social_network.url %>
                        </dd>
                    <% end %>
                <% end %>
            </dl>
        </div>
        <% if cv_template.skills.any? %>
            <div class="entry">
                <h3>Skills</h3>
                <dl>
                    <% cv_template.skills.each do |skill| %>
                        <dt><%= skill.name.upcase %></dt><dd><%= skill.level %></dd>
                    <% end %>
                </dl>
            </div>
        <% end %>
        <% if cv_template.languages.any? %>
            <div class="entry">
                <h3>Languages</h3>
                <dl>
                    <% cv_template.languages.each do |language| %>
                        <dt><%= language.name.upcase %></dt><dd><%= language.level %></dd>
                    <% end %>
                </dl>
            </div>
        <% end %>
    </div>
</div>
