<div class="row">
    <div class="col-12">
        <h5>Users <span class="badge badge-primary"><%= @users.size %></span></h5>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">CVs</th>
                    <th scope="col">Last Sign In</th>
                    <th scope="col">Created At</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= link_to user.name, admin_show_user_path(user) %></td>
                        <td><%= user.email %></td>
                        <td><%= user.cv_templates.size %></td>
                        <td><%= format_time user.last_sign_in_at, true %></td>
                        <td><%= format_time user.created_at, true %></td>
                        <td><%= link_to 'Delete', admin_destroy_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="col-12 mt-5">
        <h5>CVs <span class="badge badge-primary"><%= @cv_templates.size %></span></h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">User</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <% @cv_templates.each do |cv_template| %>
                    <tr>
                        <th scope="row"><%= cv_template.id %></th>
                        <td><%= cv_template.title %></td>
                        <td><%= link_to cv_template.user.name, admin_show_user_path(cv_template.user) %></td>
                        <td><%= format_time cv_template.updated_at, true %></td>
                        <td><%= format_time cv_template.created_at, true %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
