<td>
    <% if language.persisted? %>
        <div class="btn btn-sm btn-block btn-light mb-3 cursor-move js-move-handle">Drag me to reorder</div>
    <% end %>

    <%= form_for [language.cv_template, language], remote: true, html: { class: 'w-100' } do |f| %>
        <%= f.hidden_field :cv_template_id, value: language.cv_template_id %>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <%= f.text_field :name, autofocus: true, required: true, placeholder: 'example: English', class: 'form-control' %>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Level</label>
            <div class="col-sm-10">
                <%= f.text_field :level, required: true, placeholder: 'examples: Beginner, Advanced Working Proficiency, Fluent, Native Speaker', class: 'form-control' %>
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-sm-10">
                <%= f.submit 'Save', class: 'btn btn-sm btn-outline-secondary' %>
                <% if language.persisted? %>
                    <%= link_to 'Delete', cv_template_language_path(language.cv_template, language), remote: true, method: :delete, data: { confirm: 'Are you sure about deleting this?' }, class: 'btn btn-sm btn-outline-danger' %>
                <% end %>
            </div>
        </div>
    <% end %>
</td>
