<table class="table table-with-form mb-4">
    <tbody class="js-sortable" data-sort-url="<%= sort_cv_template_path(@cv_template) %>">
        <% if @cv_template.recommendations.any? %>
            <% @cv_template.recommendations.each do |recommendation| %>
                <tr id="recommendation_<%= recommendation.id %>">
                    <%= render 'frontend/recommendations/form', recommendation: recommendation %>
                </tr>
            <% end %>
        <% else %>
            <tr><%= render 'frontend/recommendations/form', recommendation: @user.recommendations.new(cv_template: @cv_template) %></tr>
        <% end %>
    </tbody>
    <tbody>
        <tr class="js-new-recommendation"></tr>
    </tbody>
</table>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'interests'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_recommendation_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
