<table class="table table-with-form mb-4">
    <tbody class="js-sortable" data-sort-url="<%= sort_cv_template_path(@cv_template) %>">
        <% if @cv_template.certifications.any? %>
            <% @cv_template.certifications.each do |certification| %>
                <tr id="certification_<%= certification.id %>">
                    <%= render 'frontend/certifications/form', certification: certification %>
                </tr>
            <% end %>
        <% else %>
            <tr><%= render 'frontend/certifications/form', certification: @user.certifications.new(cv_template: @cv_template) %></tr>
        <% end %>
    </tbody>
    <tbody>
        <tr class="js-new-certification"></tr>
    </tbody>
</table>

<div class="new-js-certification"></div>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'skills'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_certification_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
