<table class="table table-with-form mb-4">
    <tbody class="js-sortable" data-sort-url="<%= sort_cv_template_path(@cv_template) %>">
        <% if @cv_template.social_networks.any? %>
            <% @cv_template.social_networks.each do |social_network| %>
                <tr id="social_network_<%= social_network.id %>">
                    <%= render 'frontend/social_networks/form', social_network: social_network %>
                </tr>
            <% end %>
        <% else %>
            <tr><%= render 'frontend/social_networks/form', social_network: @user.social_networks.new(cv_template: @cv_template) %></tr>
        <% end %>
    </tbody>
    <tbody>
        <tr class="js-new-social-network"></tr>
    </tbody>
</table>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'education'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_social_network_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
