<table class="table table-with-form mb-4">
    <tbody class="js-sortable" data-sort-url="<%= sort_cv_template_path(@cv_template) %>">
        <% if @cv_template.experiences.any? %>
            <% @cv_template.experiences.each do |experience| %>
                <tr id="experience_<%= experience.id %>">
                    <%= render 'frontend/experiences/form', experience: experience %>
                </tr>
            <% end %>
        <% else %>
            <tr><%= render 'frontend/experiences/form', experience: @user.experiences.new(cv_template: @cv_template) %></tr>
        <% end %>
    </tbody>
    <tbody>
        <tr class="js-new-experience"></tr>
    </tbody>
</table>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'certifications'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_experience_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
