<table class="table table-with-form mb-4">
    <tbody class="js-sortable" data-sort-url="<%= sort_cv_template_path(@cv_template) %>">
        <% if @cv_template.skills.any? %>
            <% @cv_template.skills.each do |skill| %>
                <tr id="skill_<%= skill.id %>">
                    <%= render 'frontend/skills/form', skill: skill %>
                </tr>
            <% end %>
        <% else %>
            <tr><%= render 'frontend/skills/form', skill: @user.skills.new(cv_template: @cv_template) %></tr>
        <% end %>
    </tbody>
    <tbody>
        <tr class="js-new-skill"></tr>
    </tbody>
</table>

<%= link_to 'Continue', edit_cv_template_path(@cv_template, step: 'languages'), class: 'btn btn-primary' %>
<%= link_to 'Add more', new_cv_template_skill_path(@cv_template), remote: true, class: 'btn btn-outline-primary' %>
