<%= content_for :breadcrumb do %>
    <%= bc_link 'Home', root_path %>
    <%= bc_link 'Edit CV' %>
<% end %>

<div class="row">
    <div class="col-sm-4">
        <%= render 'edit_submenu' %>
    </div>
    <div class="col-sm-8">
        <div class="js-flash-notice"></div>
        <%= render params[:step].present? ? "step_#{params[:step]}" : 'step_basics' %>
    </div>
</div>

<% content_for :js do %>
    <script>
        enableSortable();
    </script>
<% end %>
