<div class="row">
    <div class="col-12">
        <p>Hi <strong><%= current_user.name %>!</strong></p>
        <% if @cv_templates.any? %>
            <p>You currently have <%= pluralize(@cv_templates.size, 'CV') %></p>
        <% else %>
            <p>Let's start by creating your first CV</p>
        <% end %>
    </div>

    <div class="col-12">
        <div class="my-4">
            <%= link_to 'Add New CV', new_cv_template_path, class: 'btn btn-primary' %>
        </div>
        <div class="card-columns cv-templates">
            <!-- User CVs -->
            <%= render partial: 'cv_template', collection: @cv_templates %>
            <!-- Dummy CV -->
            <% if @dummy_cv %>
                <div class="card cv-template dummy_cv">
                    <div class="card-body">
                        <h5 class="card-title">
                            <% if current_user.admin? %>
                                <%= link_to @dummy_cv.title, edit_cv_template_path(@dummy_cv) %>
                            <% else %>
                                <%= @dummy_cv.title %>
                                <span class="badge badge-info">Preview Only</span>
                            <% end %>
                        </h5>
                        <p class="card-text"><%= @dummy_cv.description %></p>
                        <% if current_user.admin? %>
                            <%= link_to 'Edit', edit_cv_template_path(@dummy_cv), class: 'btn btn-sm btn-outline-primary' %>
                            <%= link_to 'Preview', cv_template_preview_path(@dummy_cv), class: 'btn btn-sm btn-outline-primary' %>
                        <% else %>
                            <%= link_to 'Preview PDF', cv_template_download_path(@dummy_cv, dummy_cv: true, format: :pdf), class: 'btn btn-sm btn-outline-primary' %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

