<%= content_for :breadcrumb do %>
    <%= bc_link 'Home', root_path %>
    <%= bc_link @cv_template.title %>
<% end %>

<div class="row">
    <div class="col-sm-6">
        <h4><%= @cv_template.title %></h4>
        <p class="text-muted"><%= @cv_template.description %></p>
    </div>
    <div class="col-sm-6">
        <div class="float-right">
            <%= link_to 'Edit', edit_cv_template_path(@cv_template), class: 'btn btn-sm btn-secondary' %>
            <%= link_to 'Delete', cv_template_path(@cv_template), method: :delete, class: 'btn btn-sm btn-light', data: { confirm: 'Sure about deleting this CV?' } %>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-4">
        <dl>
            <dt>First Name</dt><dd><%= @cv_template.firstname %></dd>
            <dt>Last Name</dt><dd><%= @cv_template.lastname %></dd>
            <dt>Profession</dt><dd><%= @cv_template.profession %></dd>
            <br>
            <dt>Phone</dt><dd><%= @cv_template.phone %></dd>
            <dt>Email</dt><dd><%= @cv_template.email %></dd>
            <dt>Website</dt><dd><%= @cv_template.website %></dd>
            <dt>address</dt><dd><%= @cv_template.address %></dd>
        </dl>
    </div>

    <div class="col-sm-8">
        <h5>Preview</h5>
    </div>
</div>
