<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand text-light" href="/">
            <%= image_tag 'cv_maker_logo.png', width: 30, height: 30, class: 'CV Maker', class: 'd-inline-block align-top' %>
            CV Maker
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to new_cv_template_path, class: 'nav-link py-0' do %>
                        <span class="btn btn-primary m-0">Add New CV</span>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Images', images_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to 'My Profile', edit_user_registration_path, class: 'nav-link' %>
                </li>

                <% if current_user.admin? %>
                    <li class="nav-item">
                        <%= link_to 'Admin', admin_path, class: 'nav-link' %>
                    </li>
                <% end %>

                <li class="nav-item">
                    <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Really want to logout now?' }, class: 'nav-link' %>
                </li>
            </ul>
        </div>
    </div>
</nav>
