<!DOCTYPE html>
<html>
<head>
    <title>CV Maker by Frank Etoundi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<body class="<%= 'image-bg' if @marketing_scope %>">
    <div class="mx-auto">
        <header class="mb-auto">
            <% if @marketing_scope %>
                <%= render 'layouts/nav' %>
            <% else %>
                <%= render 'layouts/nav_frontend' %>
            <% end %>
        </header>

        <main role="main" class="container main-container">
            <%= yield %>
        </main>

        <footer class="container fixed-bottom text-center text-muted">
            <div class="py-2 bg-white">
                <small>CV Maker by <a href="https://twitter.com/etoundi_1er" target="_blank">Frank Etoundi</a></small>
            </div>
        </footer>
    </div>
</body>
</html>
