<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple Free Online CV Maker By Frank Etoundi">
    <meta name="author" content="Frank Etoundi">
    <meta name="keyword" content="Simple Free Online CV Maker Making Tool Frank Etoundi">
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('favicon.png') %>">
    <link rel="apple-touch-icon" sizes="64x64" href="<%= asset_path('favicon.png') %>">

    <title>CV Maker by Frank Etoundi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<body class="<%= 'image-bg' if @marketing_scope %>">
    <div class="mx-auto">
        <header class="mb-auto">
            <% if @marketing_scope %>
                <%= render 'layouts/nav' %>
            <% else %>
                <%= render 'layouts/nav_frontend' %>
            <% end %>
        </header>

        <main role="main" class="container" style="min-height: 80vh">
            <% if content_for? :pagename %>
                <h3><%= yield :pagename %></h3>
            <% end %>

            <% if content_for? :breadcrumb %>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <%= yield :breadcrumb %>
                    </ol>
                </nav>
            <% end %>

            <% unless @marketing_scope %>
                <% unless flash.empty? %>
                    <%= render 'layouts/flash_notice' %>
                <% end %>
            <% end %>

            <%= yield %>
        </main>

        <footer class="container text-center text-muted mt-5 <%= 'fixed-bottom' if @marketing_scope %>">
            <div class="py-2 bg-white">
                <small>CV Maker by <a href="https://twitter.com/etoundi_1er" target="_blank">Frank Etoundi</a></small>
            </div>
        </footer>
    </div>
    <%= yield :js %>
</body>
</html>
