<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Simple Free Online CV Maker By Frank Etoundi">
        <meta name="author" content="Frank Etoundi">
        <meta name="keyword" content="Simple Free Online CV Maker Making Tool Frank Etoundi">
        <link rel="shortcut icon" type="image/png" href="<%= asset_path('favicon.png') %>">
        <link rel="apple-touch-icon" sizes="64x64" href="<%= asset_path('favicon.png') %>">

        <title>PDF Preview - CV Maker by Frank Etoundi</title>

        <%= csrf_meta_tags %>

        <style>
            <%= Rails.application.assets.find_asset('print.scss').to_s.html_safe %>
        </style>

        <%#= stylesheet_link_tag('print') %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
